 --------------------------------------------------------------------------------------------------------
| create a .env file in project's root folder and put the below template in it and add respective values.|
 --------------------------------------------------------------------------------------------------------
ENVIRONMENT=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
