extends layout

block content
  h1 Images

  .card
      img(src=imgUrl, alt='Denim Jeans', style='width:50%')
      h1 Tailored Jeans
      p.price $19.99
      p Some text about the jeans..
      p
        button Add to Cart